.products-list {
    padding: 60px 0;
    text-align: center;

    ul.products {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px; 

        & p {
            width: 100%; 
        }

        & button {
            width: 110px;
        }
    }   
}